.images {
  &-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    img {
      width: 150px;
      height: fit-content;
      margin: 5px;
    }
  }
}
